doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      link(rel='stylesheet' href='/css/style.css')
      title aung  | #{title}
  
  body
   .login-form
     h2.heading-secondary.ma-bt-lg sign up form
      form.form
       .form__group
        label.form__label(for='name') name
        input#name.form__input(type='text', placeholder='john', required)
       .form__group.ma-bt-md
        label.form__label(for='email') email
        input#email.form__input(type='email', placeholder='john@gmail.com', required)
       .form__group
        button.btn.btn--green submit
      
      script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js') 
      script(type='module' src='/js/signup.js')
     
   