 .btnContainer{
  display: flex;
  gap:2rem;
 }
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #f9f9f9;
    color: black;
    padding: 1rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
 
  }
  
  .dropdown-content {
    position: absolute;
    top: 100%; /* Positions the dropdown right below the button */
    left: 0; /* Aligns the dropdown with the left edge of the button */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
  }
  
  .dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content div:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #f1f1f1;
  }
  
  
  /* size btn code  */
 .size-dropdown {
    position: relative;
    display: inline-block;
  }

  .sizeBtn {
    background-color: #f9f9f9;
    color: red;
    padding: 1rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .size-dropdown-content {
    position: absolute;
    top: 100%; 
    left: 0; 
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
  }

  .size-dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .size-dropdown-content div:hover {background-color: #f1f1f1}
  
  .size-dropdown:hover .size-dropdown-content {
    display: block;
  }
  
  .size-dropdown:hover .sizeBtn {
    background-color: #f1f1f1;
  } 