doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      link(rel='stylesheet' href='/css/login.css')
      link(rel='stylesheet' href='/css/header.css')
      title login
  
  body
   header.header
    nav
     ul
      li
        a(href='/') home
      
   .login-form.margin-top
    h1 Login
    form.form
     .form__group.ma-bt-md
      label.form__label(for='email') email
      input#email.form__input(type='email', placeholder='john@gmail.com', required)
     .form__group
      label.form__label(for='password') password
      input#password.form__input(type='password', placeholder='••••••••', required)
     .form__group
      button.btn.btn--green submit
      
     
      script(src='/js/bundle.js')
     
   