*,
 *::before, 
*::after {
  box-sizing: border-box;
}

*{
margin: 0;
padding: 0;
line-height: calc(1em+0.5rem)
}

img{
max-width: 100%;
display:block;
}
body{
    background-color: #f2f8fc;
}
ul {
margin: 0;
padding: 0;
list-style: none;
}

html{
	scroll-behavior:smooth;
}
input, button, textarea, select{
border: none;
background: none;
cursor: pointer;
font-family: inherit;

}



.base-header{
    font-size:2.5rem;
}
.create-box{
    background-color: white;
    border:solid black 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    width:300px;
    height:450px;
   
    padding:1rem;
}
.create-box p{
    font-size: 1.2rem;
}
.create-post-btn{
    width:90%;
    padding:.5rem 1.5rem;
    color:white;
    background-color: #007bff;
    font-size: 1.25rem;
    border-radius: 50px;
    transition: all 0.3s;
}
.create-post-btn:hover{
    background-color: #0b5fba;
}
.comment-input{
    width: 100%;
    padding: 10px;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    background-color: white;
    resize:none;
}

#description {
    height: 5rem;
  }


.threads{
    width:1536px;
    margin:3rem auto;
    display: flex;
    gap:2rem;
    justify-content: center;
    
}
.thread-link{
    text-decoration: none;
    color:black;
}
.thread-box{
    border:solid black 2px;
    width:640px;
    height: 125px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap:.5rem;
    
}

.thread-likes{
    background-color: #c7c7c8;
    height: 100%;
    width:3rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:.5rem;
}
.thread-likes i{
   font-size: 1.5rem;
}


.thread-content{
    display: flex;
    flex-direction: column;
    gap:1rem;
  

}

.comment-number-container {
    display: flex;
    gap:.5rem;
}